<h3>
  <p>Select a cookie from the drop down</p>
  <select [(ngModel)]="selectedCookie">
 <option *ngFor="let cookie of cookieListvar" [ngValue]="cookie" >{{ cookie.name }}</option>
</select>
  <!--<app-cookie-view [cookieListvar] = ""></app-cookie-view> -->


  <p>Display the cookies colour</p>
  <select [(ngModel)]="selectedCookie.colour">
    <option *ngFor="let i of Colours | keyvalue">{{i.value}}</option>
</select>

  <p>Create a new Cookie</p>
  <label>Enter the name</label>
  <input id="addName" type="text" [(ngModel)]="nameNewCookie">

  <br>
  <label>Enter the colour</label>



  <select [(ngModel)]="newCookieColour">
    <option *ngFor="let i of Colours | keyvalue">{{i.value}}</option>
  </select>


  <br>
  <button (click)="createCookie()">Create Cookie and add to list</button>